/* styles/app.css */

/* Styles par défaut */
html, body, h1, h2, h3, h4, h5, h6, p, button, label, div {
  color: #fff !important;
}

.w-text.light-mode,
.w-text.light-mode * {
  color: #fff !important;
}

html, body {
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, cursive !important;
  background-color: #0F1828 !important;
}

/* ******************************************************************************************************************************** */
/* Mode lumineux */
html.light-mode, body.light-mode {
  background-color: #9f9e9eeb !important;
  color: rgb(57, 57, 57) !important;
}

h1.light-mode, h2.light-mode, h3.light-mode, h4.light-mode, h5.light-mode, h6.light-mode, p.light-mode, button.light-mode, label.light-mode {
  color: rgb(57, 57, 57) !important;
}

.w-text.light-mode,
.w-text.light-mode * {
  color: rgb(57, 57, 57) !important;
}
/* Styles spécifiques pour les éléments td en mode clair */
html.light-mode td.w-text,
html.light-mode td.w-text *,
html.light-mode h1.w-text,
html.light-mode h1.w-text *,
html.light-mode h2.w-text,
html.light-mode h2.w-text *,
html.light-mode h3.w-text,
html.light-mode h3.w-text *,
html.light-mode h4.w-text,
html.light-mode h4.w-text *,
html.light-mode h5.w-text,
html.light-mode h5.w-text *,
html.light-mode h6.w-text,
html.light-mode h6.w-text *,
html.light-mode p.w-text,
html.light-mode p.w-text *,
html.light-mode button.w-text,
html.light-mode button.w-text *,
html.light-mode label.w-text,
html.light-mode label.w-text *{
  color: rgb(57, 57, 57) !important;
}